<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div
            *ngIf="isLoading"
            class="absolute inset-x-0 bottom-0">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Products</div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                <mat-icon
                    [svgIcon]="'heroicons_solid:search'"
                    class="icon-size-5"
                    matPrefix></mat-icon>
                <input
                    [(ngModel)]="keyword"
                    [autocomplete]="'off'"
                    [placeholder]="'Search products'"
                    (keyup)="loadProducts()"
                    matInput>
            </mat-form-field>
            <!-- Add product button -->
            <button
                (click)="openProductEditionModal()"
                [color]="'primary'"
                class="ml-4"
                mat-flat-button>
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class=" mr-1">Add</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <!-- Products list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="true; else noProducts">
                <div class="grid">
                    <!-- Header -->
                    <div
                        class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                        matSort
                        matSortActive="name" matSortDirection="asc"
                        (matSortChange)="sortChanged($event)"
                        matSortDisableClear>
                        <div class="hidden sm:block" [mat-sort-header]="'reference'">Reference</div>
                        <div [mat-sort-header]="'name'">Name</div>
                        <div
                            [mat-sort-header]="'unit'"
                            class="hidden sm:block">
                            Unit
                        </div>
                        <div
                            class="hidden sm:block">
                            Unit Price
                        </div>
                        <div
                            class="hidden sm:block">
                            Tax Rate
                        </div>
                        <div
                            [mat-sort-header]="'unitPrice'">
                            Price
                        </div>
                        <div>

                        </div>
                    </div>
                    <!-- Rows -->
                    <ng-container *ngFor="let product of productSearchResult?.elements">
                        <div (click)="openProductEditionModal(product)"
                             class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b cursor-pointer">
                            <div class="truncate hidden sm:block">
                                {{product.reference}}
                            </div>
                            <div class="truncate">
                                <span class="text-base font-semibold">{{product.name}}</span><br>
                                <span class="text-sm"> {{product.description}}</span>
                            </div>
                            <div class="truncate hidden sm:block">
                                {{product.unit}}
                            </div>
                            <div class="truncate hidden sm:block">
                                {{product.unitPrice}} <span *ngIf="product.unitPrice"> DA</span>
                            </div>
                            <div class="truncate hidden sm:block">
                                {{product.valueAddedTax?.value}} <span *ngIf="product.valueAddedTax?.value"> %</span>
                            </div>
                            <div class="truncate text-base font-semibold">
                                {{product.allTaxesIncludedPrice}} <span *ngIf="product.allTaxesIncludedPrice"> DA</span>
                            </div>
                            <div (click)="$event.stopPropagation()">
                                <button mat-icon-button [mat-menu-trigger-for]="productActions">
                                    <mat-icon
                                        [svgIcon]="'heroicons_outline:dots-vertical'"
                                        class="icon-size-5"
                                        matPrefix></mat-icon>
                                </button>
                                <mat-menu
                                    [xPosition]="'before'"
                                    #productActions="matMenu">
                                    <button
                                        (click)="openProductEditionModal(product)"
                                        mat-menu-item>
                                        <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                                        <span>Edit</span>
                                    </button>
                                    <button
                                        (click)="deleteProduct(product)"
                                        mat-menu-item>
                                        <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                        <span>Delete</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                    </ng-container>
                </div>

                <mat-paginator
                    [length]="productSearchResult?.totalElements"
                    [ngClass]="{'pointer-events-none': isLoading}"
                    [pageIndex]="page"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    [pageSize]="size"
                    [showFirstLastButtons]="true"
                    (page)="pageChanged($event)"
                    class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"></mat-paginator>

            </ng-container>
            <ng-template #noProducts>
                <div class="p-8 sm:p-16 border-t text-2xl font-semibold tracking-tight text-center">There are no
                    products!
                </div>
            </ng-template>

        </div>

    </div>

</div>
