.inventory-grid {
    grid-template-columns: auto 80px 38px;

    @screen sm {
        grid-template-columns: 70px auto 60px 60px 60px 60px 38px;
    }

    @screen md {
        grid-template-columns: 70px auto 80px 80px 80px 80px 38px;
    }

    @screen lg {
        grid-template-columns: 70px auto 100px 100px 100px 100px 38px;
    }
}
