.inventory-grid {
    grid-template-columns:  auto 38px;

    @screen sm {
        grid-template-columns:  200px 200px auto 38px;
    }

    @screen md {
        grid-template-columns:  300px 300px auto 38px;
    }

    @screen lg {
        grid-template-columns:  400px 400px auto 38px;
    }
}
